table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    text-align: center;
    top calc(50% - .75em);
}

.results{
    color: black;

}

img {
    height: 300px;
    display: block;


}

.jumbotron {
    position: relative;
    /*background-image: url('/coffee-project/coffee-beans.jpg');*/
}

