table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

html{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

tbody{
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

body {
    background-color: #dde0e2
}

.list-group-item{
    background-color: #dde0e2
}

h1 {
    text-align: center;
    top: 30%;
    right: 35%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: absolute;
    z-index: 1000;
    color: #dde0e2;


}

.results{
    color: black;

}

img {
    height: 250px;
    display: block;
    position: relative;
    width: 100%;
}

.jumbotron {
    position: relative;
    background-color: #dde0e2;
}

.btn {
    background-color: #6f8fbe;
    border: none;
    cursor: default!important;
}



